<div id="new-song">
<form id="new_song" action="/songs" method="post">
	<%= user.name %>
	<%= post.p
	<input type="text" name="#{lyrics}" id="track" maxlength="90" placeholder="track">
	<button type="submit" id="submit-new"></button>
	<input name="authenticity_token" 
                  type="hidden" 
                  value="<%= form_authenticity_token %>" />
</form>
</div>

