<body>
	<div class="container">
	<div class="new-post">
		<form id="new_song" action="/songs" method="post">
			<label for="regularTextarea">Your Blog Post:</label>
			<textarea type="text" name="text" id="text" maxlength="2000" placeholder="Ya Feel Me?"></textarea><br>
			<label for="regularInput">Artist/Band Name:</label>
			<input type="text" name="artist" id="artist" maxlength="300" placeholder="Artist"><br>
			<label for="regularInput">Track Title:</label>
			<input type="text" name="title" id="track" maxlength="300" placeholder="track"><br>
			<button type="submit" class="button">Fetch that lyric!</button>
			<input name="authenticity_token" 
			type="hidden" 
			value="<%= form_authenticity_token %>" />
		</form>
	</div></div>
</body>

