
#header-content {
	position: relative;
	max-width: 800px;
	margin: 0 auto;
	float: left;
	margin-top: 0px;
}

/*#logo{
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 5px;
	width: 200px;
	height: 3800px;
	background: url('/images/logo.jpg') 0 0 no-repeat;
	text-indent: -9999px;
	float:left;
	clear: both;
}
*/
.container{
	text-align: center;
	margin-top: 20px;
}

#user_email{
	margin-left: 39%;
}

#user_password{
	margin-left: 39%;

}

#user_password_confirmation{
	margin-left: 39%;
}

img{
	border:2px solid;
	border-radius:25px;
}

ul{
	text-align: left;
}

ul li{
	border-radius: 1em;
	padding: .5em;
}

h1{
	color: #ABBBCC;
}

h2{
	color: #527599;
}

h3{
	color: #EFFFFF;
}

h4{
	color: #CCADAB;
}

body{
	background:url('/images/cream_pixels.png');
}

.post {
	background-color: #DAEFF1;
	border-radius: 1em;
	margin-top: 1em;
	padding: 1em;
}

.post .song {
	color: #401B29;
	background-color: #D9D1B0;
	border-radius: 1em;
	margin-top: 1em;
	padding: 1em;
}

.new-post{
	float: right;
	clear: both;
}

.post .delete{
	margin-top: 1em;
	padding: 1em;
}

.song .delete{
	margin-top: 1em;
	padding: 1em;
	float: right;
}

.post .delete{
	margin-top: 1em;
	padding: 1em;
	float: right;
}

.post h2{
	font-style: bold;
}

.post h3 {
	text-align: left;
	color: black;
}

.post .new_comment {
	background-color: light grey;
}

.comments p{
	border-radius: 1em;
	margin-top: 1em;
	padding: 1em;
	background-color: #F62B60;

}

.italics{
	font-style:italic;
}

.song .italics{
	color: #401B29;
}

.song h4{
	color: #401B29;
}

.comments p:nth-child(even){
	background-color: #DAEFF1;
	color: #ABBBCC;
	z-index:1;
       /* These three lines are for transparency in all browsers. */
       -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
       filter: alpha(opacity=50);
       opacity:.2;
}

#new-post{
	text-align: center;
	position: center;
	float: left;
	clear: right;
}

title{
	color: #CCADAB;
}

.signoutlink{
	position: absolute;
	top: 0;
	left: 78%;
	margin: 3em;
	width
}

.newpostlink{
	position: absolute;
	left: 70%;
	margin: 3em;
	top: 0;
}


